@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Graduate&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Graduate', cursive;
  font-size: small;
  font-weight: bold;
}
body {
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin: 2em;
}
button{
    cursor: pointer;
    outline: none;
}
#title{
  font-size: xx-large;
  font-weight: 900;
}
.title-drum {
  width: 1.2em;
}
footer {
  display: block;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover {
  text-decoration: underline;
}
.footer-link {
  display: block;
}
.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}
.pressed {
  opacity: 0.7;
}
.drum {
  border: none;
  outline: none;
  font-size: 5rem;
  font-weight: 800;
  color: #061dec;
  text-shadow: 0px 0px 4px #000000;
  box-shadow: 0px 0px 10px rgb(187, 187, 187);
  border-radius: 10px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.w {
    background-image: url(images/tom1.png);
}

.a {
  background-image: url(images/tom2.png);
}

.s {
  background-image: url(images/tom3.png);
}

.d {
  background-image: url(images/tom4.png);
}

.j {
  background-image: url(images/snare.png);
}

.k {
  background-image: url(images/crash.png);
}

.l {
  background-image: url(images/kick.png);
}
